body {
  background-color: #222222;
  font-family: "proxima-nova", serif;
}

h1 {
  color: #DF744A;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 32px;
  margin-top: 20px;
  font-family: "Galvji";
  /* width: 50%; */

}

h2 {
  color: #D4D4D4;
  font-weight: normal;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 36px;
  font-family: "Galvji";
  /* width: 50%; */
}

h3 {
  color: #FEDD89;
  font-size: 24px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 48px;
  font-family: "Galvji";
}


h4 {
  color: #D4D4D4;
  font-weight: normal;
  margin: 8px 0px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
  font-family: "Galvji";
}

p {
  color: #D4D4D4;
  font-weight: lighter;
  margin: 0px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 17px;
  line-height: 27px;
  /* line-height: 165%; */
  margin-top: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav {
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

a {
  color: #D4D4D4;
}

a:visited {
  color: #56A292;
}

.topnav {
  margin-bottom: 48px;
}

.more-information ul {
  width:100%;
  position: absolute;
}

.more-information li {
  width: 45%;
  display: block;
  float: left;
  padding: 4px;
}
.more-information li a {
  display: block;
  text-align: center;
  background-color: #41413d;
  padding: 16px;
}

.project {
  margin: 24px 0px;
}

.project h4 a {
  color: #FFFFFF;
}

.topnav {
  overflow: hidden;
  background-color: #222222;
}

.topnav a {
  float: right;
  display: block;
  color: #FEDD89;
  text-align: center;
  padding: 14px 8px;
  margin: 0px 12px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #56A292;
}

.topnav a.active {
  border-bottom: 3px solid #56a292;
  font-weight: bold;
}

.button:hover {
  background-color: #56A292;
  color: #FFFFFF;
}

.back {
  margin-left: 16px;
  margin-right: 16px;
}

.myprojects {
  margin-top: 64px;
}

.books {
  margin-left: 16px;
  color: #d4d4d4;
  display: block;
  margin: 12px 16px;
}

.quote {
  font-style: italic;
  border-left: 2px solid;
  border-color: #56A292;
  padding: 12px;
}

.project-two {
  list-style-type: circle;
  margin-left: 32px;
  color: #d4d4d4;
  font-weight: lighter;
}

.bestpractice {
  color: #56A292;
  font-weight: bold;
  font-size: 16px;
}

.caption {
  font-weight: lighter;
  margin-top: 64px;
}

.desc {
  margin-top: 4px;
}

.data {
  list-style-type: circle;
  color: #d4d4d4;
  margin-left: 16px;
  font-weight: lighter;
}

.percentages {
  font-size: 24px;
  margin-top: 12px;
  /* margin-bottom: 24px; */
}

.psquote {
  font-style: italic;
  border-left: 2px solid;
  border-color: #56A292;
  padding: 12px;
}

.bestpractice {
  font-size: 20px;
}

.project-image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  margin-bottom: 24px;
}

.lessons-learned {
  font-size: 16px;
  color: #D4D4D4;
  font-weight: lighter;
  padding-bottom: 16px;
}

.lesson-learned {
  list-style-type: circle;
  padding-left: 32px;
  padding-bottom: 14px;
}

.myassignments {
  display: block;
}

.myassignments img {
  width: 80%;
  padding: 16px;
}

.research {
  list-style-type: circle;
  color: #D4D4D4;
  padding-left: 32px;
  padding-top: 24px;
}

.research li {
  margin-bottom: 4px;
  font-weight: lighter;
}

.beforeafter{
  display: block;
}

.beforeafter img {
  width: 10 %;
  padding: 16px;
}

.flyoutsketches {
  display: flex;
}

.demo  {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 64px;
      margin-bottom: 24px;
}

a.backbutton {
  padding: 8px;
  background-color: #41413d;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 12px;
  float: left;
}

a.backbutton:hover {
  background-color: #56A292;
  color: black;
}

#avatar-pic {
  top:60%;
  width: 100%;
  right: 0px;
  /* position: absolute; */
  /* float: right; */
}

#aboutmepic {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#myprojectsheader {
  margin-top: 8px;
}

@media screen and (min-width: 700px) {

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  h4 {
    margin-top: 32px;
  }

  p {
    font-size: 16px;
  }

  iframe {
    margin-top: 32px;
  }

  video {
    width: 100%;
  }

  .mobile {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
  }

  .desktop {
    margin-left: auto;
    margin-right: auto;
  }

  .more-information ul {
    width: 60%;
    position: absolute;
  }

  .more-information li {
    width: 25%;
    display: block;
    float: left;
    padding: 4px;
  }
  .more-information li a {
    display: block;
    text-align: center;
    background-color: #41413d;
    padding: 16px;
  }

  .main-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15em;
    padding-right: 15em;
  }

  .topnav {
    margin-left: auto;
    margin-right: auto;
    padding-left: 4em;
    padding-right: 4em;
  }

  .body-text {
    margin-left: 4em;
    margin-right: 4em;
  }

  .myprojects {
    margin-left: 4em;
    margin-right: 4em;
  }

  .project-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    margin-bottom: 24px;
  }

  .footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 42px;
    padding-left: 10em;
    padding-right: 10em;
  }

  .project-title {
    margin-top: 32px;
  }

  .bestpractice {
    font-size: 20px;
  }

  a.backbutton {
    padding: 16px;
    background-color: #41413d;
    border-radius: 4px;
    text-decoration: none;
  }

  a.backbutton:hover {
    background-color: #56A292;
    color: black;
  }

  .myassignments {
    display: flex;
  }

  .myassignments img {
    width: 60%;
    padding: 16px;
  }

  .flyout-sketches {
    display: flex;
  }

  .flyout-sketches img{
    width: 30%;
    padding: 16px;
  }
  .project-two {
    font-size: 18px;
  }

  .lessons-learned {
    font-size: 18px;
    color: #D4D4D4;
    font-weight: lighter;
    padding-bottom: 16px;
  }

  .lesson-learned {
    list-style-type: circle;
    padding-left: 32px;
    padding-bottom: 14px;
  }


  .research {
    list-style-type: circle;
    color: #D4D4D4;
    padding-left: 32px;
    padding-top: 24px;
  }

  .research li {
    margin-bottom: 4px;
    font-weight: lighter;
  }

  #myprojectsheader {
    margin-top: 48px;
  }

  #avatar-pic {
    top:15%;
    width: 60%;
    right: 0px;
    position: absolute;
  }

  #aboutmepic {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #ftnteam {
    padding-bottom: 32px;
  }
